// .gallery{
//     display: flex;
// }
.gallery__container{
    outline: 1px solid red;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,        
        #FFF5F6 40%,  
        #ffffff 40%,
        #ffffff 60%
      );
    
    @media screen and(min-width:320px){
        width: 320px;
    }
    @media screen and(min-width:480px){
        width: 480px;      
           
    }
    @media screen and(min-width:768px){
        width: 768px;
           
    }
    @media screen and(min-width:1280px){
        width: 1280px;
           
    }
    

}
.gallery__png{
    display: block;
    // @extend .gallery__container;
    @media screen and(min-width:320px){
        width: 320px;
           
    }
    @media screen and(min-width:480px){
        width: 480px;
           
    }
    @media screen and(min-width:768px){
        width: 768px;
           
    }
    @media screen and(min-width:1280px){
        width: 1280px;
           
    }
   
}
.gallery__img{
    display: block;
    width: 320px;
    // @extend .gallery__container;
    @media screen and(min-width:320px){
        width: 320px;
           
    }
    @media screen and(min-width:480px){
        width: 480px;
           
    }
    @media screen and(min-width:768px){
        width: 768px;
         
    }
    @media screen and(min-width:1280px){
        width: 1280px;
           
    }
}


.gradient{
    
    margin: 0 auto;
       
    outline: 1px solid red;
      width: 1000px;
      height: 500px;

      background-image: linear-gradient(
  to bottom,
  
  #FFF5F6 40%,  
  #ffffff 40%,
  #ffffff 60%
);

}

.mt{
    margin-top: 10px;
}
.photo-set{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
     width: 1280px;
    
    
    
}
.box-img{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}
img{
    border-radius: 10px;
    margin-bottom: 15px;
    transition-property: transform;
}
img:hover{
    transform: scale(1.1);
    // transform: rotate(360deg);
    transition-duration: 500ms;
  }
